<app-header></app-header>
<div class="container">
  <div class="card my-3">
    <div class="card-body">
      <data-input
        *ngIf="step === 1"
        (dataOutput)="setData($event)"
      ></data-input>
      <ng-container *ngIf="step === 2">
        <data-selector
          [fields]="dataFields"
          (fieldSelected)="onFieldSelected($event)"
        ></data-selector>
        <data-charts
          *ngIf="data && selectedFields"
          [data]="data"
          [fields]="selectedFields"
        ></data-charts>
      </ng-container>
      <navigation-bar
        (navigationEvt)="step = $event"
        [showData]="data"
      ></navigation-bar>
    </div>
  </div>
</div>
