/* You can add global styles to this file, and also import other style files */

body {
  background: #ebebeb;
}

.btn {
  border: none;
  background: #0189ac;
  color: white;
  display: block;
  margin: 1rem auto;
}

.btn:hover {
  background: #33beff;
}
