/* You can add global styles to this file, and also import other style files */

body {
  background: #ebebeb;
}

.btn {
  border: none;
  background: #0189ac;
  color: white;
}

.btn:hover {
  background: #33beff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #2d2d2d;
}
